<!doctype html>
<html>
<head>
    <title>Adaptive DB</title>

    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/treeview.css"/>
    <link rel="stylesheet" href="/css/forms.css"/>

    <script src="/js/libs/jquery-2.0.3.min.js"></script>
    <script src="/js/libs/bootstrap.min.js"></script>
    <script src="/js/scripts/core_controller.js"></script>
    <script src="/js/scripts/tree_view_controller.js"></script>
    <script src="/config/config.js"></script>
    <script src="/js/scripts/core.js"></script>
</head>
<body>
    <div id="header">
        <div id="header-left-bar" class="float-left header-bar">
            <span id="home-btn" class="header-btn">Home</span>
        </div>
        <div class="clear-float"></div>
    </div>
    <div id="body">
        <div id="body-content">
            <div id="tree-view-container" class="container-element">
                <div class="collapsable-element">
                    <span class="collapsable-content">Львівський національний університет імені Івана Франка</span>
                    <div class="collapsable-child">
                        <div class="collapsable-element">
                            <span class="collapsable-content">BBB</span>
                            <div class="collapsable-child"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="db-managment-container" class="container-element">
                <div class="db-managment-header">
                    <select id="record-type"></select>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <span id="add-entry-btn" class="footer-btn">Add entry</span>
        <span id="edit-entry-btn" class="footer-btn">Edit entry</span>
        <span id="delete-entry-btn" class="footer-btn">Delete entry</span>
    </div>
</body>
</html>