<!doctype html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
    <div id="header">
        <div id="header-left-bar" class="float-left header-bar">
            <span class="header-btn">Home</span>
        </div>
        <div id="header-right-bar" class="float-right header-bar">
            <span class="header-btn">Sign in</span>
            <span class="header-btn">Sign up</span>
        </div>
        <div class="clear-float"></div>
    </div>
    <div id="body">
        <div id="body-content"></div>
    </div>
    <div id="footer">!2013</div>
</body>
</html>