
body {
    margin: 0px;
    padding: 0px;
    -webkit-user-select: none;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear-float {
    clear: both;
}
.hidden {
    display: none;
}
span {
    -webkit-user-select: none;
}

/*
* header's styles
*/
#header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #333;
    color: #e6e6e6;
}
.header-bar {
    margin: 6px 0px;
}
.header-btn:hover {
    cursor: pointer;
    color: #fff;
    border-bottom-width: 1px;
}
.header-btn {
    text-align: center;
    margin: 0px 20px;
    border-bottom: 0px solid #fff
}

/*
* body' styles
*/
#body {
    margin-top: 40px;
}
#body-content {
    position: relative;
    width: 90%;
    left: 5%;
    height: 100%;
}


/*
footer's styles
*/
#footer {
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #000;
    font-size: 16px;
    height: 40px;
    background-color: #333;
    color: #e6e6e6;
}
.footer-btn {
    /*border: 1px solid #000;
    border-radius: 5px;*/
    margin: 0px 20px;
    border-top: 0px solid #fff;
    border-bottom: 0px solid #fff;
    color: #e6e6e6;
    padding: 5px;
    position: relative;
    top: 10px;
}
.footer-btn:hover {
    cursor: pointer;
    color: #fff;
    border-bottom-width: 1px;
    border-top-width: 1px;
}